* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header__top {
  height: 50px;
  background: #C8A35F;
  font-family: "Roboto", sans-serif;
}
.header__bottom {
  height: 50px;
  background: #2F343A;
}